/*The cards exist solely in the js, so we'll need
to take advantage of the dev tools to edit those
the text of word quality should be the roboto and the
text of the actual quality rating should be sans*/

/*this should probabaly be at the top*/
body {
    box-sizing: border-box;
    margin: 0;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    font-family: 'Open Sans', sans-serif;
}

/*what is this? ...I looks like an extra 
div that our entire page is nested in. possibly
use it to creat a grid with minmax for
responsive layout or could nix it and use
media queries or do grid and media queries!!!*/
/*.container-box {
    margin: 0;
}*/

.top-box {
    background-color: #e5f3f2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 20.3em;
    /*text-align: center;*//*took this off 
    and refactored*/
}

h1 {
    color: #6d6e71;
    display: inline-block;
    flex-direction: right;
    font-family: Roboto Slab;
    font-size: 3.2em;
    margin-left: 1em;
    text-align: center;
    /*height: 1.5em;*/
    /*width: 45%;*/
    width: 10vw;
    height: 1vh;
    justify-content: center;

}

.idea {
    border: 3px solid red;
    color: #00a79d;
    /*height: 2vh;*/
    width: 2.3em;
    margin-left: 36vw;
}
/*add .box because there was no 
selector*/
.box {
    border: 3px solid green;
}

#search-input {
    border: 2px solid lightgrey;
    height: 30px;
    margin-top: 2em;
    width: 45%;
    outline: none;
}


#title-input, #body-input {
    border: 2px solid lightgrey;
    height: 2em;
    outline: none;
    width: 45%;
}

#title-input {
    margin-bottom: .8em;
}

#body-input {
    margin-bottom: 1em;
}

.save-btn {
    background-color: #00a79d;
    border: none;
    color: #fff;
    font-size: 130%;
    height: 2em;
    width: 45.45%;
    flex-direction: right;
    margin-left: 27.3vw;
}

.save-btn:hover {
    background-color: #045e55;
}


input::placeholder {
    padding-left: .38em;
    font-size: 1.4em;
}

/*#body-input {
    align-items: center;
    display: flex;
    height: 2em;
    justify-content: space-between;
    width: 45%;
    border: 
}*/
/*combined with #title-input to dry up*/

/*figure our how to put a margin left
and resize font of placeholder text
also change placeholder text color to
lightgrey upon clicking in input box*/






input {
    align-items: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    justify-content: space-between;
    margin: auto;
}



.card-container {
    margin: auto;
    position: relative;
    width: 45%;
}

.card {
    background-color: #ffffff;
    height: auto;
    margin: auto;
    width: 45%;
}

.title-of-card {
    color: #6D6E71;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 140%;
}

h2 {
   color: #6d6e71; 
   display: inline-block;
   font-family: 'Roboto Slab', serif;
   font-size: 150%;
}

p {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
}

.body-of-card {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

button {
    background-color: transparent;
    border: none;
}

.upvote {
    background-image: url(./images/upvote.svg);
    background-size: cover;
    height: 20px;
    margin-right: 5px; 
    width: 20px;
}

.upvote:hover {
    background-color: transparent;
    background-image: url(./images/upvote-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.downvote {
    background-image: url(./images/downvote.svg);
    background-size: cover;
    height: 20px;
    margin-right: 5px; 
    width: 20px;
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.delete-button {
    background-image: url(./images/delete.svg);
    background-size: cover;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 20px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

@media(max-width: 640px){

    .card-container {
        width: 85%;
    }

    #search-input {
        border: solid #999 1px;
    }

    /*.top-box {
        display: flex;
        flex-flow: column;
    }*/
}

