
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-box {
    background-color: #e5f3f2;
    background-size: 100% 300px;
    box-sizing: border-box;
    height: 355px;
}

form {
    max-width: 900px;
    margin: auto;
}

h1 {
    color: #00a79d;
    font-family: Roboto Slab;
    font-size: 3.2em;
    text-align: center;
}

.box {
    color: #6d6e71;
}

#title-input, #body-input {
    border: 2px solid lightgrey;
    height: 2em;
    outline: none;
    width: 80%;
}

#title-input {
    margin-bottom: .8em;
}

#body-input {
    margin-bottom: 1em;
}

button {
    background-color: transparent;
    border: none;
}

.btn {
    background-color: #00a79d;
    color: #ffffff;
    font-size: 1.5em;
    width: calc(80% + 7px);
    margin-left: calc(10% - 4px);
    margin-right: 10%;
}

.save-btn {
    height: 2em;
}

.show-rest-btn {
    height: 1.5em;
    margin-top: 20px;
    margin-bottom: 40px;
}

.save-btn:hover {
    background-color: #045e55;
}

.importance-btns {
    margin-top: 5px;
    text-align: center;
}

.importance:hover {
    color: #00a79d;
}

.importance {
    margin: 5px;
}

.cards-div {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

#search-input {
    border: 2px solid lightgrey;
    height: 30px;
    margin-top: 2em;
    width: 80%;
    outline: none;
}

input {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: auto;
}

input::placeholder {
    padding-left: .38em;
    font-size: 1.4em;
}

textarea {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: auto;
}

textarea::placeholder {
    padding-left: .38em;
    font-size: 1.4em;
}

.card-container {
    margin: 5px auto;
    position: relative;
    width: 81%;
}

.card {
    background-color: #ffffff;
    height: auto;
    margin: auto;
}

.title-of-card {
    color: #6D6E71;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 140%;
}

h2 {
   color: #6d6e71; 
   display: inline-block;
   font-family: 'Roboto Slab', serif;
   font-size: 150%;
}

p {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
}

.body-of-card {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.upvote {
    background-image: url(./images/upvote.svg);
    background-size: cover;
    height: 20px;
    margin-right: 5px; 
    width: 20px;
}

.upvote:hover {
    background-color: transparent;
    background-image: url(./images/upvote-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.downvote {
    background-image: url(./images/downvote.svg);
    background-size: cover;
    height: 20px;
    margin-right: 5px; 
    width: 20px;
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
}

.delete-button {
    background-image: url(./images/delete.svg);
    background-size: cover;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 20px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
}

.complete-btn {
    background-image: url(./images/completed.svg);
    background-size: cover;
    height: 18px;
    width: 18px;
    float: right;
    margin-right: 8px;
}

.complete-btn:hover {
    background-image: url(./images/completed-hover.svg);
}

.completed {
    text-decoration: line-through;
    background-color: #F1F1F1;
}

@media(max-width: 640px){
    .top-box {
        height: 420px;
    }
    #body-input {
        height: 6em;
    }

}

